<footer id="footer">
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="footerLogocontainer pull-left">
        <a class="footeLogo" href="/"></a>
        <p>
          © Copyright 2012 MLB Academy
        </p>
      </div>
      <div class="footerLinks pull-left">
      </div>
      <div class="socialsContainer pull-left">
        <ul class="unstyled clearfix">
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span10 offset1 rightsContainer">
      <p>
        Licensee must provide the following credit line in an appropriate place where the Licensed Properties are displayed and/or available in connection with each use of the Licensed Properties: &nbsp;<strong>"Major League Baseball trademarks and copyrights are used with permission of MLB Advanced Media, L.P. &nbsp;All rights reserved."</strong>
      </p>
    </div>
  </div>
</div>
</footer>